body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", helvetica, Arial, sans-serif;
}
h1,
ul {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.left-tab {
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  gap: 20px;
}
li {
  list-style: none;
  font-weight: bold;
}
.right-tab {
  display: flex;
  gap: 20px;
}
.right-tab button:first-child {
  background: none;
  border: none;
  font-weight: bold;
}
.right-tab button:first-child:hover {
  color: #00a2ff;
}
.demo-btn {
  border: 2px solid #fc5e1a;
  color: #fc5e1a;
  border-radius: 10px;
  background: none;
  font-weight: bold;
  padding: 10px 20px;
}
.demo-btn:hover {
  color: white;
  background-color: #fc5e1a;
}
.right-tab button:last-child {
  background: #00a2ff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #00a2ff;
}
.right-tab button:last-child:hover {
  color: #00a2ff;
  background-color: white;
}

/* HERO SECTION */
.hero-sect {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.hero-content {
  text-align: center;
}
.top-pa {
  color: #717171;
  font-weight: 700;
}
.hero-content h1 {
  font-size: 70px;
}
.bottom-pa {
  font-size: 16px;
  font-weight: 400;
}
.hero-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 30px 40px;
}
.hero-content button {
  background-color: #fbe30c;
  border: 3px solid #e3d500;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 31px;
  border-radius: 24px;
}
.hero-content button:hover {
  background-color: #38a2ff;
  border: 3px solid #2c85d5;
  cursor: pointer;
  font-weight: 600;
  color: white;
  font-size: 20px;
  padding: 17px 31px;
  border-radius: 24px;
}
.hero-content span {
  font-size: 12px;
  font-weight: 400;
}
.mid-line {
  color: #717171;
}
